html {
  box-sizing: border-box;
}

body {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

#form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  font-size: 20px;
  display: inline-block;
  width: 265px;
  height: 45px;
  padding-left: 30px;
}

.btnSbmt {
  font-size: 25px;
  margin-top: 30px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(77, 173, 236);
}

.container {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.repository {
  border: 2px solid rgb(172, 173, 160);
  border-radius: 5%;
}

.owner__rep-create-date {
  font-size: 25px;
}

.owner__watchers-count {
  font-size: 25px;
}

#more {
  font-size: 25px;
  margin-top: 30px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(236, 100, 20);
}

.owner__link {
  font-size: 30px;
}

.topNubex {
  font-size: 50px;
  color: blue;
  position: fixed;
  right: 45px;
  bottom: 45px;
}
