*,
::after,
::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

.is-hidden {
  visibility: hidden;
}

.section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
}

.main-title {
  margin-top: 40px;
}

.search-form {
  margin-top: 50px;
}

.input-field {
  padding: 20px;
  width: 60%;
  height: 25px;
  font-size: 20px;
  border: 1px solid #c5bcbc;
  border-radius: 5px;
}

.search__btn {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.search__btn-res {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.container {
  margin-top: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.photo-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.photo-card:hover .stats {
  transform: translateY(0);
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: left;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);

  width: 100%;
  height: 40px;
  bottom: 0;

  transform: translateY(40px);
  transition: 0.25s;
}

.stats-item {
  color: white;
}

.more {
  margin-top: 40px;
  width: 60%;
  height: 30px;
  font-size: 15px;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 20px;
}

/* .topNubex {
  text-decoration: none;
  font-size: 20px;
  color: rgb(61, 61, 59);
  position: fixed;
  right: 45px;
  bottom: 45px;
} */
.back_to_top {
  font-size: 40px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  background: transparent;
  color: rgb(65, 61, 57);
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}
